.card {
  background-color: #ffffff;
  padding: 5px;
}
.card__title {
  color: #282828;
  background-color: bisque;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 5px;
}

.card_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #ffffff;
}

body {
  background-color: #C4C4C4;
}

footer {
  background-color: #ffffff;
}

/* PC: 1200px 以上 */
@media (min-width: 1200px) {
  .card__title {
    font-size: 14px;
  }

  .card__description {
    font-size: 12px;
  }
}

/* タブレット: 768px 以上 1200px 未満 */
@media (min-width: 768px) and (max-width: 1199px) {
  .card__title {
    font-size: 10px;
  }

  .card__description {
    font-size: 8px;
  }
}

/* スマートフォン: 320px 以上 768px 未満 */
@media (min-width: 320px) and (max-width: 767px) {
  .card__title {
    font-size: 10px;
  }

  .card__description {
    display: none;
  }
}